<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="AWSAccessKey" value="AKUQ3CGIAJDZZ73M2ZIQ"/>
		<add key="AWSSecretKey" value="toB4Sx0/HELA2gB/VWJroWXzGlcsBnu4vsyYRWDe"/>
    <add key="CFPrivateURLSigner1" value="795809376394"/> 
    <add key="CFPrivateURLSigner2" value="279928791567"/>
    <add key="CanonicalUserId" value="b6ca7e384959588dabd6f69d49ffef798f9a182989a8acae9965ae5152b2622d63ef5852e391b51a53a5b2dab47911cf"/>
    <add key="OriginAccessId" value="E2RQ7XENZ597V5"/>
    <add key="OwnerId" value="250aa6fa00a527ffc4cb1ad26ecc5f14d9ef2617d16a40328676558fe858513d"/>
    <add key="CFDomainName" value="d3kjhb1yr0osa9.cloudfront.net"/>
    <add key="CFDistributionId" value="E1SMJ0K0RTZ45K"/>
    <add key="KeyPairId" value="APIHDH2QH3GKKAVLRTSQ"/>
  </appSettings>
</configuration>